{% load static %}
<html>
<head>

    <meta name="author" content="silverania"\>
    <link rel="stylesheet" href="{% static "node_modules/bootstrap/dist/css/bootstrap.css"%}"\>
    <link rel="stylesheet" href="{% static "css/all.min.css" %}"\>
    <script  src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet"\>
    <script  src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}"\>
    </head>
    <body>


{% csrf_token %}

<script src="{% static 'js/blog.js' %}" id="s_blog"></script>
<script>
var url="{{currentUrl}}"
initBlogSGang("mario","sol-7373",url);
</script>
</body>
</html>
