{% load static %}
<!DOCTYPE html>
<html lang="en" >

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta name="author" content="silverania">
        {% block anteprima %}{% endblock %}
        <title>Registrazione</title>
        <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}">
        <link rel="stylesheet" href="{% static "node_modules/bootstrap/dist/css/bootstrap.css"%}">
        <link rel="stylesheet" href="{% static "css/all.min.css" %}">
        <link rel="stylesheet" href="{% static "css/blog.css" %}">
        <link rel="stylesheet" href="{% static "css/register.css" %}">
        <link rel="stylesheet" href="{% static "css/login.css"%}">

        <script  src="{% static 'node_modules/@popperjs/core/dist/umd/popper.js' %}"></script>
        <script  src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>
        


  <script  src="{% static 'js/jquery.min.js' %}"></script>
  <script  src="{% static 'js/login.js' %}"></script>

<script src="{% static "js/getParams.js"%}"></script>
<script src="{% static "js/all.min.js"%}"></script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v14.0&appId=810115799892623&autoLogAppEvents=1" nonce="ZQl7gT5l">
  </script>
</head>


  <!--script  src="{% static 'js/blog.js'%}"></script-->


<!--script  src="{% static 'js/aside.js' %}"></script-->
<body>
  {% block content %} {% endblock content %}
  </body>
  </html>
