{% extends "base.html" %}
{% load static %}
{% block title %}Log-in {% endblock title %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="container">
  <div class="kpx_login">

<div class="row justify-content-center">
  <div class="col-12 text-center" style="margin-bottom:2%;">
    <!--hr class="kpx_hrOr"-->
    <span class="kpx_spanOr badge">Modifica della Password per {{request.user}}
      </span>
  </div>
</div>

<div class="row kpx_row-sm-offset-3 kpx_loginOr">
  <div class="col-xs-12 offset-sm-3  text-center col-sm-6" style="margin-bottom:5%;">
    <!--hr class="kpx_hrOr"-->
<form method="post">
  {% csrf_token %}

  {%for field in form%}

    {% if "Password attuale" in field.label_tag %}
      <label>Password attuale:{{field}}
{% elif "Nuova password" in field.label_tag %}
<label>
nuova Password:
</label>
  {{field}}
  {% elif "Conferma" in field.label_tag %}
  <label>
  conferma Password:
  </label>
    {{field}}
{%endif%}
{%endfor%}
  <div id="div_save_new_password"><button  class="btn btn-primary" type="submit">Salva</button></div>

</form>
</div></div>
</div>
</div>
{% else %}
<h2> Per modificare la password bisogna prima autenticarsi ! Se non ricordi la tua password , devi recuperarla </h2>
{% endif %}
{% endblock %}
