{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}Log-in {% endblock title %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="container">

<div class="row justify-content-center">
  <div class="col-12 text-center">
    <h2>Modifica della Password per <span class="badge bg-primary">{{ request.user }}
    </span></h2>
  </div>
</div>

<form method="POST">
  {% csrf_token %}
  
  {% for field in form %}
    {% if "old_password" in field.name %}
    <div class="row my-4">
      <div class="col text-center">
      <label>Password attuale:{{ field }}</label>
    </div>
    </div>

{% elif "new_password1" in field.name %}
<div class="row my-4">
  <div class="col text-center">
<label>
nuova Password:{{ field }}
</label>
</div>
</div>
  
{% elif "new_password2" in field.name %}
  <div class="row my-4">
    <div class="col text-center">
  <label>
  conferma Password:{{ field }}
  </label>
</div>
  </div>

{% endif %}
{% endfor %}
<div class="row my-4">
    <div class="col text-center">
  <div id="div_save_new_password"><button  class="btn btn-primary" type="submit">Salva</button></div>
    </div>
</div>
{% else %}
<div class="row my-4">
    <div class="col text-center">
       {% trans "To change your password, you must first log in! If you don't remember your password, you need to recover it" %} 
    </div>
    <a id="backhome" href>Home</a>
    <script defer>
        var backhome = document.getElementById('backhome')
        backhome.href = 'https://' + '{{request.get_host}}' + '/booldog?mainurl=' + localStorage.getItem('next')
      </script>
  </div>

{% endif %}
{% endblock content %}