{% extends 'base_password.html' %}
{% load i18n %}
{% load static %}
{% block title %}
  {% trans 'Done !' %}
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 my-5">
        {% trans 'Recovery link sent to your email We have sent instructions to set your password, if there is a valid account at the email address you provided. You should receive them shortly. If you do not receive an email, make sure you enter the address you registered with, and check your spam folder.' %}
      </div>
      <a id="backhome" href>Home</a>
      <script defer>
        var backhome = document.getElementById('backhome')
        backhome.href = 'https://' + '{{request.get_host}}' + '/booldog?mainurl=' + sessionStorage.getItem('next')
      </script>
    </div>
  </div>
{% endblock %}
