a#a_download.title {
    margin-top:20px;
    width:auto;
    text-decoration: none!important;
}

.booldoginfo.title{
    color:orange;
    opacity:0.6;
    margin-left:20px;
    width:auto;
}
.badgebooldog.title{
    opacity: 1;
}

.spanbooldog.title{
    opacity:0.8rem;
}

.fa-comment-dots.title{
    color:#ccebff;
}

.booldog.booldogtitle {
    width:auto;
    /* opacity: 1; */
    height: auto;
    text-decoration: none;
    margin-right: auto;
    margin-top: 15px;
}

@media screen and (min-width: 576px) {
    .badgebooldog.title{
        font-size:1em;
    }
    .booldoginfo.title{
        font-size: 1em
    }
    .spanbooldog.title{
        font-size:0.6rem;
    }
    .fa-comment-dots.title{
        font-size:1.8em;
    }
 }

@media screen and (min-width: 1024px) {
    .badgebooldog.title{
        font-size:0.8em;
    }
    .booldoginfo.title{
        font-size: 1em
    }
    .spanbooldog.title{
        font-size:0.8rem;
    }
    .fa-comment-dots.title{
        font-size:2em;
    }
 }

@media screen and (min-width: 1400px) {
.badgebooldog.title{
    font-size:1.4em;
}
 .title .fa-comment-dots{
    font-size:2em;
}
.spanbooldog.title{
    font-size:1.8rem;
}
}

@media screen and (max-width: 576px) {
    .badgebooldog.title{
        font-size:0.6em;
    }
    .booldoginfo.title{
        font-size: 0.4em
    }
    .spanbooldog.title{
        font-size:0.8rem;
    }
    .fa-comment-dots.title{
        font-size:2em;
    }
 }
