
{% extends "base.html" %}
{% load static %}
{% block title %}Log-in {% endblock title %}

{% block content %}
<div class="container">


  <div class="kpx_login">

    {% if '/register/blog' in request.full_path %}<div class="row title">
      <div class="col-xs-12 col-6 text-center offset-sm-3 col-sm-6" style="margin-bottom:5%;">
        <!--hr class="kpx_hrOr"-->
        <!--span class="kpx_spanOr">Registrati o Fai il
        <a id="a_reg" href="{% if 'blog' in request.path %} /user/login/blog
        {% else %} /user/login {% endif %}"><span style="color:green;">Login</span></a></span-->
        <span class="kpx_spanOr">Registrati o Fai il
          <a id="a_reg"><span style="color:green;">Login</span></a></span>
        </div>
      </div>{% endif %}
      <script type="text/javascript">

        const params = new URLSearchParams(window.location.search);
        //document.getElementById("next").value = params.get('next');
        var r=document.getElementById("a_reg");
        r.href="/user/login/blog?next="+params.get('next');
      </script>
      <div class="row justify-content-center">
        <div class="col-12 text-center col-sm-6">
          {% if not 'blog' in request.path %}<hr class="kpx_hrOr"><br>{% endif %}
          <h2 align="center"class="title">Registrazione</h2>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-6">

          <form method="post" enctype="multipart/form-data">
            <div class="form-group text-center">
              {% csrf_token %}
              {% for field in form %}
              {% if 'username' in field.name %}
              <label>Username:</label>
              <p class="mt-1 mb-4">{{field}}</p>
              {% if field.errors %}  <p style="color:red;">Errore nell' inserimerdto di username ! </p>
              {% endif %}
              
              {% elif 'password1' in field.name %}
               <label>Password:</label>
              <p class="mt-1 mb-4">{{field}}</p>
               {% if field.errors %}  <p style="color:red;">Errore nell' inserimerdto delle password ! </p>
               {% endif %}

               {% elif 'email' in field.name %}
               <label>la tua mail :</label>
              <p class="mt-1 mb-4">{{field}}</p>
               {% if field.errors %}  <p style="color:red;">Errore nell' inserimerdto delle mail ! </p>
               {% endif %}

                {% elif 'password2' in field.name %}
                <label>Conferma Password :</label>
                <p class="mt-1 mb-4">{{field}}</p>
                    {% if field.errors %}  <p style="color:red;">Errore nell' inserimerdto delle password ! </p>
                <script>setTimeout(() => { window.location.href = {% if 'blog' in request.path %} "/user/register/blog"
                  {% else %} "/user/register "{% endif %}},5000);</script>{% endif %}




                  {% elif 'website' in field.label_tag %}
                  {% if next %}
                  <small style="color: grey">Opzionale</small>
                   <label>{{field.label_tag}}</label>
                  {%else%}
                  <label>{{field.label_tag}}</label>{% endif %}
                 <p class="mt-1 mb-4">{{field}}</p>
                   {% if field.errors %}  <p style="color:red;">Errore nell' inserimerdto del Sito Web ! </p>
                  <script>setTimeout(() => { window.location.href = "{% if 'blog' in request.path %} /user/register/blog
                {% else %} /user/register {% endif %} "},5000);</script>{% endif %}
                
                  {% elif 'Photo' in field.label_tag %}
                      <small style="color: grey">Opzionale</small>
                  <label>{{field.label_tag}}</label>
                  <p class="mt-1 mb-4">{{field}}</p>
                  {% if field.errors %}  <p style="color:red;">Errore nell' inserimerdto della Photo ! </p>{%endif%}


                 
                   
                   {% endif %}
                    {% endfor %}
                    <div >
                      <button style="width:60%" class="btn ms-5 btn-outline-primary "  type="submit">Registrami</button>
                    </div></div>
                  </div>
                </div>
                <!--div class="row kpx_row-sm-offset-3">
                  <div class="col-xs-12 col-sm-3">
                    <p></p>
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" value="remember-me">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Ricordami !</span>
                    </label>


                  </div>
                  <div class="col-xs-12 col-sm-3">
                    <p class="kpx_forgotPwd">
                      <a href="#">Password Dimenticata ?</a>
                    </p>
                  </div>
                </div-->
              </div>




            </div>
            <script>
              $(document).ready(function(){
                var login="{{ request.user.is_authenticated }}"
                $('[data-toggle="tooltip"]').tooltip()
              })
            </script>
            {% endblock content %}
