@font-face {
  font-family: 'Alpha Slab One';
  src: url('../webfonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../webfonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../webfonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Open-Sans-Bold';
  src: url('../webfonts/Open-Sans-Bold.ttf');
}
@font-face {
  font-family: 'Open-Sans';
  src: url('../webfonts/OpenSans-VariableFont_wdth,wght.ttf');
}
@font-face {
  font-family: 'WorkSans-Regular';
  src: url('../webfonts/WorkSans-Regular.ttf');
}

    html,body { width:auto;height:auto;min-height: auto; }


#blog{
    margin-top:100px;
    margin-bottom:1000px;
    font-family: 'Montserrat-Regular','roboto','openSans';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #333;
}

#blog{
    margin:20px;
    width: 65%!important;
}

#blogBackHome:hover{
    opacity:0.5;
    cursor:pointer;
}
#blogBackHome{
    display:inline;
    margin-left:15%;
}
div#blogBackHome>span{
    font-size:100px;
    font-weight:900;
}

div.breadcrumbs{
 margin:0 auto!important;
}


#bdiv{width:90%;margin:0 auto !important;}

#button_post{
  width:90%!important;
}

.admin{
    opacity:0.9;
}

.fa-comment-dots{
    color:#ffebbf;
}

.spanbooldog.admin{opacity:1;color:white;}

[id^=divuserblog]{
  margin:0 auto;
}

div.modal-content {
  width:100%;
  min-width:100%;
  height:auto;
  font-family:'WorkSans','Assistant-regular','WorkSans';
  background-color: #495057;
  font-size:2rem;
  box-sizing:content-box;
}

#id_div_title > a{
text-decoration: none;
}

.spanbooldog
{font-family:"orbitron";opacity: 0.3;}
#div_comment_icon > #blog_icon > #a_download > .booldog > .spanbooldog
{
    font-size:0.7rem;
}

.spanbooldog.blog{
    display:none;
}

#div_comment_icon > #blog_icon > #a_download > .booldog > .badgebooldog > .fa-comment-dots  {
    font-size: 2rem;
}

#div_comment_icon > #blog_icon > #a_download > .booldog > .badgebooldog{
    opacity: 0.9;
    border:1px solid transparent;
    align-items: start;
}

.fa-house{
margin-right:1%;
margin-top:1%;
}

.fa-comment-dots{
    margin-top: -3%;
    /* color: #baaa00a6; */
    }

.booldog{
    width:100%;
    height:auto;
    text-decoration:none;
    margin-right: auto;
}
.badgebooldog {
    width:inherit;
    min-height: auto;
    background-color: #7bfff48a;
    padding: 4px 8px;
    border-radius: 15px;
    border: 0 solid #0080001f;
    text-decoration:none;
}

.spanbooldog{
    color:black;
    width:auto;
    height:fit-content;
    font-family: Orbitron;
    font-weight:800!important;
    margin-left:1%;
    text-decoration:none;
}


.booldoginfo{
    color:#66ffff;
    font-size: 0.4rem;
}

a#a_download{
text-decoration:none!important;
}

#li_reg > a , #liBlogEsci > #aEsci, #li_cambiaPassword > a#id_cambia_password{
  text-decoration: none;
}


[id^=span_]:hover{
  color:green;
}


#id_link_comment{
  margin:3% auto;
  width: 80%;
}

[id^=d_head_blog]{
display: inline-block;
  margin-bottom: 5%;
}

[id^=span_in]{
font-family: "Montserrat-Bold";
font-weight:800;
color:orange;
}

[id^=spanBar]{
font-family: "WorkSans-Regular";
color:grey;
}

[id^=bh5_span]{
  width:100%!important;
  min-width:100%!important;
  font-size:1rem;
  color:grey;
}

[id^=but_]{
  font-family:"Montserrat-Regular";
  width:100%;
  height:auto;
  border-style: none;
  margin:15px auto;
  color:#660000;
  padding:2%;
  box-shadow:10px 10px 10px #719ECE
}

[id^="img_user"]{
  width:30px!important;
  height:30px!important;
}


#H1Welcome{
display:none;
text-align:right;
font-size:0.1rem;
font-family:"montserrat-extra-bold";
}

#inputHidden,#inputSubmit{
width:25%;
border-style:none;
background-color: transparent;
}

#formEsci{
width:100%;
display:block;
text-align:right;
border-style: none;
border-color: transparent;
background-color: transparent;
}

[id^=but_post]{
  /* padding:2%; */
  /* font-size:1rem; */
}

textarea {
background-color:transparent;
  font-family:"Montserrat-Regular";
  font-size:1rem!important;
  line-height: 1.6;
  color:black;
  width:100%;
height:auto;
  /*min-width:100%;*/
  outline: none !important;
  border: none;
     background-color: transparent;
     resize: none;
     outline: none;
  box-shadow: 10px 10px 10px #719ECE;
  border-radius:4px;
  overflow:hidden;
  padding:5px!important;
}

img{
  /* outline: none !important; */
  border-style:none;
  box-shadow: 3px 3px 3px #719ECE;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

[id^=new_divuserblog]{
  margin:5% auto;
}

/*[id^=new_divuserblog]> [id^=d_head] + [id^=d_post] + textarea{*/


#d_post_title , span[id^="post_title"]{
  display:block!important;
  width:auto;
  text-align: center;
  margin:20px auto!important;
  font-size:1rem!important;
  color:black!important;
  line-height:1.5em!important;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%!important; /* Could be more or less, depending on screen size */
}

#col_blog{
  width:0px!important;
}

[id^=divuserblog_]{
margin-top:5%!important;
}

#d_blog_reg {
  width:100%;
  margin-bottom:5px!important;
  float:right;
}

#ul_blog{
margin-right:0;
}

#li_login{
display:inline;
margin-left:90%;
}
#buttonentra{
    width:50%;
}
.post_response{
  margin:50px auto auto 15% !important;

  /*margin:0 auto !important;*/
}

#s_blog_text{
  color:grey;
  font-size:inherit!important;
}



.div_resp{
  width:70%!important;
  margin:0 auto !important;
}

#button_post,#clone_button{
  margin:33px auto;
}

[id^="divuserblog_"]{
  margin-top:5%!important;
}

#divuserblog_1{
  margin-top:10%!important;
}

@media screen and (max-width: 1280px) {
    #blog{
        margin:5%;
        width: 40%!important;
    }
  #p_text{
    width:100%!important;
  }
  #li_cambiaPassword > a#id_cambia_password ,#liBlogEsci > a#aEsci,#li_login > #id_entra>#span_entra{
    text-decoration: none;
    font-size:0.5rem;
}
}


@media screen and (max-width: 480px) {
    #blog{
      width:90%!important;
  }
  button{
    max-width:80%;
    margin:0 auto;
  }
}

  #s_blog{
    font-size:0.7rem;
    color:grey;
  }

  #s_blog_icon + #span_blog_entra,#span_entra,#span_reg,#span_esci{
    font-size:0.8rem;
  }
  [id^="divuserblog"]{
    font-size:0.7rem!important;
  }

  [id^="bh5_span"]{
    width:100%;
    height:auto;
    font-size:0.6rem!important;
  }
  .modal-content {
    width: 33%!important; /* Could be more or less, depending on screen size */
  }

@media screen and (min-width: 1024px) {
.fa-comment-dots,.fa-house,.fa-arrow-left{
    font-size: 3rem;
    }
}

@media screen and (min-width: 1280px) {
    #blog{
        margin:0;
        width: 30%!important;
    }

    .fa-comment-dots,.fa-house,.fa-arrow-left{
            font-size:3rem;
    }

  #p_text{
    width:100%!important;
  }
  #li_cambiaPassword > a#id_cambia_password ,#liBlogEsci > a#aEsci,#li_login > #id_entra>#span_entra{
    text-decoration: none;
    font-size:1rem;
}
}

@media screen and (max-width: 780px) {
    textarea{
        font-size:0.6rem!important;
    }

  #blog{
    width:80%!important;
  }
  .modal-content {
    width: 55%!important; /* Could be more or less, depending on screen size */
  }
textarea {
    font-size:0.8rem!important;
}
}

@media screen and (max-width: 414px) {
  .modal-content {
    width: 100%!important; /* Could be more or less, depending on screen size */
  }
}

@media screen and (max-width: 1024px) {
.spanbooldog{
    font-size:1.5rem;
}
.badgebooldog{
    font-size:0.9rem;
    /* border: 1px solid; */
}
.fa-comment-dots,.fa-house,.fa-arrow-left{
    font-size: 3rem;
    }
}

@media screen and (max-width: 800px) {
#blog{
    width:39%;
}
.spanbooldog{
    font-size:1.1rem;
}
.badgebooldog{
    /* font-size:0.3rem; */
    /* border:3px solid green; */
}
.fa-comment-dots{
    /* font-size: 1.8rem; */
    }
}

@media screen and (max-width: 666px) {
.spanbooldog{
    font-size:0.6rem;
}
.badgebooldog{
    /* border:1px solid green; */
    border-radius: 50px;
    /* max-height:80%; */
    font-size:0.2rem;
}
.fa-comment-dots{
    position:relative;
    /* font-size: 1.5rem!important; */
    }
}

.blog_title,#blog_title{
  width:auto!important;
  margin-top:5%!important;
  margin-bottom:3%;
}

.mybut{
  display: block;
  width: 100%;
  padding: .2rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  color:purple;
  border-color: cyan!important;
  box-shadow: 10px 10px 10px #719ECE;
}
.mybut:hover{
  border:3px solid orange;
}

button:focus{
  outline: none!important;
}

 /*MODAL WINDOW */

/*.modal {
  /* display: none; */ /* Hidden by default */
  /* position: fixed; */ /* Stay in place */
  /* z-index: 1; */ /* Sit on top */
  /* left: 0; */
  /* top: 0; */
  /* width: 100%; */ /* Full width */
  /* height: 100%; */ /* Full height */
  /* background-color: rgb(0,0,0); */ /* Fallback color */
  /* background-color: rgba(0,0,0,0.4); */ /* Black w/ opacity */
/*}*/

/* Modal Content/Box */


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*#p_text{
color:orange;
background-color: grey;
font-size:2rem;
}*/

#but_confirm_title:after{
  content:"Ok"
}

#but_confirm_title:hover{
  background-color:black;
  color:orange;
}
/* END */
