body {
  min-height: 100vh;
  height:100vh;
}



.section1{
  min-width:100%;
  height: 50%;
  max-height:50%;
  position: relative;
  background-color: #0000ff12;
  overflow: scroll;
}
#divElementsselected{
  margin:0 auto;
}
.section2{
  background-color: #f0fcff;
  width:100%;
  top:50%;
  height:50%;
  left:0;
  position: absolute;
}
#colprodotti{
  position:relative;
  max-height:50%;
  overflow:scroll;
}
#elprodotto{
  position:relative;
}

@media screen and (min-width: 1024px) {
  span#sprodotti {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 1024px) {
  span#sprodotti {
    font-size: 0.6rem;
  }
}


span#sprodotti {
  margin-bottom:3%;
}

#colCarrello{
  width:31vw;
}

#buttonSearch{
  position: relative;
  
}
#button_font{
}

div#div_carrello {
  border-left: 3px solid blue;
  background-color: white;
  margin: 0 auto;
  width:100%;
}

#colShoppingCart,[id^=checkout]{
  height: auto;
  width:100%;
}

.fa-shopping-cart {
  display:inline-block;
  color: orange;
  font-size: xxx-large;
  width :auto;
}
[id^=col_]{
  margin-left: 5px;
}
span,p[id^="p_"] {
  font-size: 0.8rem;
  line-height: 1;
  margin-bottom: 0;
}

div[id^="col_Image_"] {
  /* display: inline-block; */
  max-width: 50%;
  height:auto;
}

img[id^="img_product"] {
  width: 50px;
  height: auto;
  float: left;
}

div#divForm {
  margin: 0 auto;
}

[id^="colProductName"],#col_Image {
  display: inline-block;
  /* margin: 0 auto; */
  padding: 0;
  width: auto;
}
@media screen and (max-width: 992px) {
  #formSearch{
    display:inline-block;
    /*position:absolute!important;*/
    z-index:999;
  }
  #main_title{
    /* position:fixed!important; */
  }
	  span,
  p[id^="p_"] {
    font-size: 0.7rem;
    line-height: 1;
    margin-bottom: 0;
  }
  #spesatext{font-size:medium;font-weight:bold;width: 100%;}
.form-control-sm {
font-size:0.7rem!important;
}
}

[id^="p_prezzo"] {
  color: green;
}

p {
  width: fit-content;
}

#span_aggiungi {
  font-size: 0.6rem;
}
[id^=button_aggiungi] {
  margin-left:6px;
}

@media screen and (max-width: 574px) {
  /*#formsearch{
    width:100%;
  }*/
  span,
  p[id^="p_"] {
    font-size: 0.7rem;
    line-height: 1;
    margin-left: 1px;
    margin-bottom: 0;
  }
  #spesatext{font-size:medium;font-weight:bold;width: 100%;}
.form-control-sm {
font-size:0.7rem!important;
}
	img[id^="img_product"] {
    width: 20px;
    height: auto;
}
.searched{
  
  font-size: 0.8em!important;
  margi-left: 3px!important;
}
/*.form-control-borderless {
  border: none;
}*/

/*.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow:0rem,1rem;
}*/

@keyframes carrello {
  0%   {background-color:aqua;}
  25%  {background-color: yellow;}
  50%  {background-color:orange;}
  100% {background-color: whitesmoke;}
}
.animateme {
  animation-name: carrello;
  animation-duration: 10s;
}
}