{% load static %}
<!DOCTYPE html>
<html lang="it">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta name="author" content="silverania" />
    <meta
      name="keywords"
      content="{% block keywords %}{% endblock keywords %}"
    />
    <meta
      name="description"
      content="{% block description %}{% endblock description %}"
    />
    <title>Il prezzo più basso</title>
    <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico"
    %}"/>
    <link rel="stylesheet" href="{% static 'css/index.css'%}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <script ➥ src="//unpkg.com/react@18/umd/react.development.js">

      
    </script>
    <script src="//unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/geo.js' %}"></script>
    <script src="{% static '@popperjs/core/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    
  </head>


  <body>
    
    
    {% block content %}{% endblock content %}
    
    <footer></footer>
    
  </body>
</html>
