{% extends 'base_main.html' %} {% load static %} {% block title %}
  La spesa più bassa
{% endblock %} {% block keywords %}
  confronta, prezzi, spesa , supermercato, Caserta ,
{% endblock %} {% block description %}
  Fai La Spesa Al Prezzo Migliore
{% endblock %} {% block anteprima %}
  <meta property="og:image" />
{% endblock %} {% block content %}

<div class="container">
<nav class="navbar navbar-light bg-body-tertiary">
  <div class="container-fluid">
    <a id="mainlogo" class="navbar-brand" href="#">
      
      <img src="{% static 'images/iena.jpg'%}" class="me-2" height="60"
        alt="MDB Logo" />
        <p id="mainlogotext" class="text-start">la Iena</p>
      <div class="row mt-3 justify-content-center">
      <div class="col-12 text-center" id="main_title">
        <form id="formSearch" class="form-inline" action="javascript:void(0);">
          <div class="form-group-sm" id="divForm">
            <!-- i class="fas fa-2xs fa-search h4 text-body"></i-->
            <input id="inputSearch" value class="mb-2 form-control form-control-sm form-control-borderless" type="search" placeholder="cerca alimento" />
            <button id="buttonSearch" class="mb-2 btn btn-xs btn-success" type="submit">Cerca</button>
          </div>
        </form>
      </div>
      </div>
    </a>
  </div>
</nav>  



   
    
        <div id="search" class="row">
      <div class="col-xs-12 col-md-12 text-center" id="colprodotti">
        <span id="sprodotti" class="badge bg-light"></span>
        
        <div class="row" id="rowprodotti"></div>
      </div>
    </div>
      </div>  
  

  
<div class="container-fluid">
  <div class="row section2 ">
    
   
          
              
                               
                <div class="col-12" id="colShoppingCart"><span id="spesatext" class="badge bg-info" >Il Tuo Carrello<i class="fad fa-2x fa-shopping-cart"></i>  

                </span>
                </div>
              
             
              <div class="row" id="root2">


                  
                
              </div>
            
         
          <script>
                if (Modernizr.geolocation) {
                    navigator.geolocation.getCurrentPosition(geolocalizzami);
} else {alert("geolocalizzazione non supportata dal browser!");
}
                function geolocalizzami(position) {
                    document.getElementById("lon").innerHTML = position.coords.longitude;
                document.getElementById("lat").innerHTML = position.coords.latitude;
                document.getElementById("when").innerHTML = new Date(position.timestamp);
}
            </script>
  
 
  </div>
</div>
  <script>
    var generi = '{{ data|escapejs }}';
    insertProduct()
  </script>
  <!-- The Modal -->
<div id="myModal" class="modal">
<div id="dialog" class="modal-dialog">
  <!-- Modal content -->
  <div class="modal-content">
    
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        <h5 class="modal-title">Scontrino

        </h5>
       
        </div>
        
    <p id="pModal"></p>
    <div id="modalBody" class="modal-body">
          
        </div>
  </div>
</div>
</div>
  <script src="{% static 'js/modal.js' %}">var modal =document.getElementById("mymodal"); window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }}
      </script>
    </div>


  

 
 
               
        
        
          
            
{% endblock %}
