{% extends 'base_main.html' %} {% load static %} {% block title %}
  La spesa più bassa
{% endblock %} {% block keywords %}
  confronta, prezzi, spesa , supermercato, Caserta ,
{% endblock %} {% block description %}
  Fai La Spesa Al Prezzo Migliore
{% endblock %} {% block anteprima %}
  <meta property="og:image" />
{% endblock %} {% block content %}

  

    <div class="row mt-3 justify-content-center">
      <div class="col-12 text-center" id="main_title">
        <form id="formSearch" class="form-inline" action="javascript:void(0);">
          <div class="form-group-sm" id="divForm">
            <!-- i class="fas fa-2xs fa-search h4 text-body"></i-->
            <input id="inputSearch" value class="mb-2 form-control form-control-sm form-control-borderless" type="search" placeholder="cerca alimento" />
            <button id="buttonSearch" class="mb-2 btn btn-xs btn-success" type="submit">Cerca</button>
          </div>
        </form>
      </div>
      </div>
    
      
        <div id="search" class="row">
      <div class="col-xs-12 col-md-12 col-lg-text-center" id="colprodotti">
        <span id="sprodotti" class="badge bg-light"></span>
        
        <div class="row" id="rowprodotti"></div>
      </div>
    </div>

        <div  id="colCarrello">
          
        
        </div>
      
    
  

  <div class="section2 ">
    
    <div id="root"></div>
          <div id="div_carrello">
            
              <div class="row" id="rowCarrello">
                <div class="col" id="colCarrello2">
                               
                <div class="col" id="colShoppingCart"><span id="spesatext" class="badge bg-primary" >nel carrello  <i class="fad fa-2x fa-shopping-cart"></i>  

                </span>
                </div>
              </div>
              </div>
              <div class="row" id="root2">

                  
                
              </div>
            
          </div>
  </div>
  <script src="{% static 'js/index.js' %}"></script>
  <script>
    var generi = '{{ data|escapejs }}';
    insertProduct()
  </script>

  !-- FINESTRA MODALE --!
  <h2>Modal Example</h2>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>

{% endblock %}
